.wrap {
  display: flex;
  min-height: 38px;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}
.types {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}
.type {
  display: block;
  min-width: 44px;
  padding: 4.5px 10px;
  border-radius: 4px;
  background-color: #fafbfc;
  border: solid 0.5px #d5dce0;
  margin-right: 8px;
  font-size: 12px;
  color: #344857;
}
.selected {
  background-color: #353535;
  color: #fff;
}
.search {
  width: 42px;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchIcon {
  width: 16px;
  height: 16px;
}
.searchWrap {
  display: flex;
  flex-direction: row;
}
.shadow {
  width: 3px;
  height: 36px;
  opacity: 0.5;
  background-color: #e6e8eb;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
