.rule {
  color: #fff;
  font-size: 15px;
}
.content {
  padding: 12px 10px 25px 10px;
  text-align: center;
  background: #fff;
}
.ul {
  text-align: left;
}
.li {
  font-size: 12px;
  color: #11293b;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dot {
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
  margin: 0 10px;
}

.info {
  padding: 10px;
  background: #fff;
}
.voted {
  background-color: #fafbfc;
  box-shadow: 0 1px 4px 0 #c2c8cc;
}
.title {
  height: 23px;
  line-height: 23px;
  text-align: center;
  background-color: #1d1d1d;
  font-size: 12px;
  color: #fff;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background: #fafbfc;
}
.odd {
  background: #fff;
}
.top {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.votes {
  font-size: 14px;
  padding-right: 10px;
  line-height: 14px;
}
.bp {
  font-size: 11px;
  color: #63727d;
  margin-bottom: 4px;
}
